$body-color: #FFFFFF;
$sidebar-color: #F1F1F1;
$primary-color: #7F57F1;
$primary-color-light: #0066CC;
$toggle-color: #DDD;
$text-color: #0F0B1C;

$body-color-dark: #18181A;
$sidebar-color-dark: #242526;
$primary-color-dark: #161c25;
$primary-color-light-dark: #fff;
$toggle-color-dark: #fd0000;
$text-color-dark: #ccc;


$tran-02: all 0.2s ease;
$tran-03: all 0.3s ease;
$tran-04: all 0.4s ease;
$tran-05: all 0.5s ease;


body {
  height: 100vh;
  background: $body-color;
}

body.dark {

  .sidebar {
    background: $primary-color-dark;
  }

  .sidebar li a:hover .icon,
  .sidebar li a:hover .text{
    color: rgb(255, 255, 255);
  }

  .sidebar li .icon
  .siderbar li .text{
    color: rgb(255, 255, 255);
    transition: $tran-02;
  }

  .sidebar .text, .icon{
    color: #ecebeb;
  }

  .menu-bar .mode {
    transition: $tran-03;
    background: $primary-color-dark;

    i.sun{
      opacity: 1;
    }

    i.moon{
      opacity: 0;
    }
  }


}



.sidebar .text{
  font-size: 18px;
  font-weight: 500;
  color: $text-color;
  white-space: nowrap;
}

.sidebar .image{
  min-width: 60px;
  display: flex;
  align-items: center;
}

.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: $sidebar-color;
  transition: $tran-03;
}

.sidebar.close{
  width: 88px;
}

.sidebar li{
  height: 50px;
  margin-top: 20px;
  list-style: none;
  display: flex;
  align-items: center;
}

.sidebar.close .text{
  opacity: 0;
}

.sidebar li .icon, .logo-icon{
  color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 60px;
  font-size: 24px;
}

.sidebar li .icon
.siderbar li .text{
  color: $text-color;
  transition: $tran-02;
}

.sidebar header{
  position: relative;
}

.sidebar .image-text img {
  margin-top: 10px;
  width: 170px;
}

.sidebar header .image-text {
  display: flex;
  align-items: center;
}

header .image-text .header-text{
  display: flex;
  flex-direction: column;
}

.header-text .name{
  font-weight: 600;
}

.header-text .profesion{
  margin-top: -2px;
}

.sidebar header .toggle{
  position: absolute;
  top: 50%;
  right: -25px;
  transform: translateY(-50%);
  height: 25px;
  width: 25px;
  background: $primary-color;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: $sidebar-color;
  font-size: 22px;
}

.sidebar li a {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  text-decoration: none;
  border-radius: 6px;
  transition: $tran-04;
}

.sidebar li a:hover{
  background: $primary-color;
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
  color: $sidebar-color;
}

.sidebar .menu-bar{
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-bar .mode {
  background: $sidebar-color;
}

.menu-bar .mode .moon-sun{
  height: 50px;
  display: flex;
  align-items: center;
}

.menu-bar .mode i{
  position: absolute;
}

.menu-bar .mode i.sun{
  opacity: 0;
}

.menu-bar .mode .toggle-switch{
  position: absolute;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-width: 60px;
  cursor: pointer;
}

.toggle-switch .switch{
  position: relative;
  height: 22px;
  width: 44px;
  border-radius: 25px;
  background: $toggle-color;
}

.switch::before{
  content: '';
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  background: $sidebar-color;
  transition: $tran-02;
}

body.dark
  .switch::before{
  left: 24px;
 }


 .logo-icon{
  margin-top: 10px;
  font-size: 40px;
  color: $primary-color;
 }

.mode {
  .mode-text {
    margin-left: 60px;
  }
}
